This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
import sqlalchemy
import ibm_db_sa
import pandas
import ibm_db

%load_ext sql

%sql ibm_db_sa://hdj24637:icUBSUt0OKsYdiCE@XXX(hiden)

# How many rows are in the dataset?

%sql select COUNT(*) as "Number_of_rows" from SPACE

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[(101,)]


**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

In [2]:
### Task 1

##### Display the names of the unique launch sites  in the space mission

%sql select DISTINCT LAUNCH_SITE as "Unique_launch_sites" from SPACE

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [3]:
#Task 2
#Display 5 records where launch sites begin with the string 'CCA'

%sql select LAUNCH_SITE from SPACE where LAUNCH_SITE LIKE '%CCA%' limit 5

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

In [4]:
#Task 3
#Display the total payload mass carried by boosters launched by NASA (CRS)

%sql select SUM(PAYLOAD_MASS__KG_) as "Total_mass_carried_by_NASA_launch" from SPACE where CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[(45596,)]

In [5]:
#Task 4
#Display average payload mass carried by booster version F9 v1.1

%sql SELECT AVG(PAYLOAD_MASS__KG_) as Average_mass_carried_by_v1_1 FROM SPACE WHERE UPPER(BOOSTER_VERSION) LIKE '%V1.1%'

# Tässä piti kikkailla sekä double quotesien kanssa ja UPPER jutun kanssa (arvoissa oli sekä isoja että pieniä kirjaimia)
# Ja kun katson dataa IBM portaalissa, niin siellä en huomaa, että osa on isolla, osa pienellä: eri tarkistusta tarvitaan

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[(2534,)]

In [7]:
# Task 5
# List the date when the first succesful landing outcome in ground pad was acheived.
# Hint:Use min function

%sql SELECT MIN(DATE) "First_successfull_landing_to_ground" from SPACE where LANDING_OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[(datetime.date(2015, 12, 22),)]

In [10]:
# Task 6
# List the names of the boosters which have success 
# in drone ship and have payload mass greater than 4000 but less than 6000

%sql SELECT BOOSTER_VERSION,PAYLOAD_MASS__KG_,LANDING_OUTCOME from SPACE where LANDING_OUTCOME = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 5999

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

In [19]:
# Task 7
# List the total number of successful and failure mission outcomes

%sql SELECT MISSION_OUTCOME, COUNT(*) as "Quantity" FROM SPACE GROUP BY MISSION_OUTCOME

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

In [25]:
#Task 8
#List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

%sql SELECT BOOSTER_VERSION FROM SPACE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACE)

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

In [ ]:
# OMANI: halusin nähdä max painot per boosteri / My own code to see maximum weights of each booster

%sql SELECT BOOSTER_VERSION, MAX(PAYLOAD_MASS__KG_) AS max_payload_mass FROM SPACE GROUP BY BOOSTER_VERSION

In [ ]:
# OMANI: halusin nähdä max painot per boosteri / My own code to see maximum weights of each booster

%sql SELECT A.BOOSTER_VERSION, A.LANDING_OUTCOME, A.max_payload_mass FROM (SELECT BOOSTER_VERSION, LANDING_OUTCOME, MAX(PAYLOAD_MASS__KG_) AS max_payload_mass FROM SPACE GROUP BY BOOSTER_VERSION, LANDING_OUTCOME) AS A ORDER BY A.max_payload_mass

Task 9

List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

Note: SQLLite does not support monthnames. So you need to use substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.

In [43]:
%sql SELECT DATE,LANDING_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE from SPACE where LANDING_OUTCOME IN (SELECT LANDING_OUTCOME from SPACE where LANDING_OUTCOME = 'Failure (drone ship)')

%sql SELECT DATE, LANDING_OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM SPACE WHERE LANDING_OUTCOME IN (SELECT LANDING_OUTCOME FROM SPACE WHERE LANDING_OUTCOME = 'Failure (drone ship)') AND EXTRACT(YEAR FROM DATE) = 2015

%sql SELECT DATE, LANDING_OUTCOME, BOOSTER_VERSION, LAUNCH_SITE, EXTRACT(MONTH FROM DATE) AS MONTH FROM SPACE WHERE LANDING_OUTCOME IN ( SELECT LANDING_OUTCOME FROM SPACE WHERE LANDING_OUTCOME = 'Failure (drone ship)') AND EXTRACT(YEAR FROM DATE) = 2015

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.
 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.
 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[(datetime.date(2015, 10, 1), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', 10),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', 4)]

In [ ]:
# Task 10
# Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between 
# # the date 2010-06-04 and 2017-03-20, in descending order.

%sql SELECT LANDING_OUTCOME,DATE,COUNT(*) as "Quantity" FROM SPACE WHERE EXTRACT(YEAR FROM DATE) BETWEEN 2015 AND 2017 GROUP BY DATE,LANDING_OUTCOME ORDER BY "Quantity"

In [54]:
%sql SELECT LANDING_OUTCOME, COUNT(*) as "Quantity", RANK() OVER(ORDER BY COUNT(*) DESC) as "Rank" FROM SPACE WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME ORDER BY "Quantity" DESC

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('No attempt', 10, 1),
 ('Failure (drone ship)', 5, 2),
 ('Success (drone ship)', 5, 2),
 ('Success (ground pad)', 5, 2),
 ('Controlled (ocean)', 3, 5),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 1, 7),
 ('Precluded (drone ship)', 1, 7)]

In [57]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACE

 * ibm_db_sa://hdj24637:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]